.switch__container {
  border: 1px solid lightgray;
  /* box-shadow: inset 1px 1px 1px 1px #eeeeee; */
  width: 50px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  position: relative;
  margin-left: 20px;
  margin-bottom: 10px;
}

.fa-sun {
  font-size: 15px;
  color: rgb(243, 208, 92);
  display: inline;
}

.fa-moon {
  font-size: 15px;
  color: #1da1f2;
  display: inline;
}

.switch_btn {
  position: absolute;
  right: -10%;
  top: -4px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  /* border: 1px solid black; */
  /* outline: none; */
  cursor: pointer;
  transition: all 300ms ease-in;
}

.switch_btn.lightmode {
  background: radial-gradient(white, var(--switcher-color));

  transform: translateX(0px);
  border: 1px solid rgb(216, 214, 103);
}

.switch_btn.darkmode {
  background: radial-gradient(darkslategray, black);
  transform: translateX(-28px);
  border: 2px solid #1da1f2;
}
